# File formats

There are many different file formats in widespread use within data science. In this lecture, we will review common file formats and their trade-offs, and how to choose an appropriate file format. We will also review the mechanics of reading/parsing different file formats, and how to write to them.

- [CSV](https://docs.python.org/3/library/csv.html)
- [JSON](https://www.w3schools.com/js/js_json_intro.asp)
- [XML](https://www.w3schools.com/xml/xml_whatis.asp)
- [HDF5](https://support.hdfgroup.org/HDF5/Tutor/HDF5Intro.pdf)
- [SQLite3](https://docs.python.org/3/library/sqlite3.html)

These other formats may be touched on here but will be revisited when we look at big data and distributed computing.

- [Parquet](https://parquet.apache.org/documentation/latest/)
- [Avro](https://avro.apache.org/docs/current/)
- [Arrow](https://arrow.apache.org)

## Imports

### Standard library packages

In [1]:
import os
import csv
import datetime
import decimal
import json
import sqlite3
import xml.etree.cElementTree as ET

### 3rd party packages

In [2]:
! python3 -m pip install --quiet faker json2xml fastparquet fastavro rec_avro pyarrow

In [3]:
import pendulum

In [4]:
import numpy as np
import pandas as pd

In [5]:
from faker import Faker

In [6]:
from json2xml import json2xml
from json2xml.utils import readfromjson

In [7]:
import fastavro 
from rec_avro import (to_rec_avro_destructive, 
                      from_rec_avro_destructive, 
                      rec_avro_schema)
import fastparquet

In [8]:
import h5py
import tables

In [9]:
from sqlalchemy import create_engine

## How to create fake data

### Create fake profiles using `Faker`

In [10]:
fakes = [
    Faker('zh_CN'), 
    Faker('ar_SA'), 
    Faker('en_US'), 
]

In [11]:
n = 3
p = [0.3, 0.2, 0.5]
np.random.seed(1)
locales = np.random.choice(len(fakes), size=n, p=p)

In [12]:
profiles = [fakes[locale].profile() for locale in locales]

In [13]:
profiles

[{'job': 'Midwife',
  'company': 'العجلان Ltd',
  'ssn': '797-18-0626',
  'residence': '94108 آل بن ظافر Track\nالحكيرberg, NV 51805',
  'current_location': (Decimal('45.2628705'), Decimal('96.088452')),
  'blood_group': 'A-',
  'website': ['https://www.lmhydb.com/', 'https://www.al.com/'],
  'username': 'shyl42',
  'name': 'راشد الجابر',
  'sex': 'M',
  'address': '252 شربتلي Field\nNorth تاج الدّينborough, MO 36255',
  'mail': 'bd-lkhlqldbg@hotmail.com',
  'birthdate': datetime.date(2003, 12, 17)},
 {'job': 'Firefighter',
  'company': 'Bishop-Franklin',
  'ssn': '209-26-1758',
  'residence': '29889 Thompson Ports\nJeremyborough, MO 94138',
  'current_location': (Decimal('-86.9495645'), Decimal('-16.874598')),
  'blood_group': 'AB+',
  'website': ['http://salazar.info/', 'https://www.haynes.info/'],
  'username': 'craiggonzalez',
  'name': 'Austin Cooley',
  'sex': 'M',
  'address': 'Unit 2453 Box 4102\nDPO AA 66865',
  'mail': 'candice52@hotmail.com',
  'birthdate': datetime.date(1927, 10, 21)},
 {'job': '预定员',
  'company': '双敏电子科技有限公司',
  'ssn': '330624198404264763',
  'residence': '安徽省敏市孝南程街y座 336159',
  'current_location': (Decimal('73.0356085'), Decimal('-59.584268')),
  'blood_group': 'AB+',
  'website': ['http://chaoluo.cn/', 'http://39.cn/', 'https://xiulanduan.cn/'],
  'username': 'leizheng',
  'name': '傅兰英',
  'sex': 'M',
  'address': '澳门特别行政区长沙县孝南广州街C座 348407',
  'mail': 'wei68@yahoo.com',
  'birthdate': datetime.date(1945, 3, 27)}]

### Make `pandas` data framee

In [14]:
df = pd.DataFrame(profiles)

In [15]:
df.iloc[0]

job                                                           Midwife
company                                                   العجلان Ltd
ssn                                                       797-18-0626
residence                94108 آل بن ظافر Track\nالحكيرberg, NV 51805
current_location                              (45.2628705, 96.088452)
blood_group                                                        A-
website                [https://www.lmhydb.com/, https://www.al.com/]
username                                                       shyl42
name                                                      راشد الجابر
sex                                                                 M
address             252 شربتلي Field\nNorth تاج الدّينborough, MO ...
mail                                         bd-lkhlqldbg@hotmail.com
birthdate                                                  2003-12-17
Name: 0, dtype: object

In [17]:
df

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Midwife,العجلان Ltd,797-18-0626,"94108 آل بن ظافر Track\nالحكيرberg, NV 51805","(45.2628705, 96.088452)",A-,"[https://www.lmhydb.com/, https://www.al.com/]",shyl42,راشد الجابر,M,"252 شربتلي Field\nNorth تاج الدّينborough, MO ...",bd-lkhlqldbg@hotmail.com,2003-12-17
1,Firefighter,Bishop-Franklin,209-26-1758,"29889 Thompson Ports\nJeremyborough, MO 94138","(-86.9495645, -16.874598)",AB+,"[http://salazar.info/, https://www.haynes.info/]",craiggonzalez,Austin Cooley,M,Unit 2453 Box 4102\nDPO AA 66865,candice52@hotmail.com,1927-10-21
2,预定员,双敏电子科技有限公司,330624198404264763,安徽省敏市孝南程街y座 336159,"(73.0356085, -59.584268)",AB+,"[http://chaoluo.cn/, http://39.cn/, https://xi...",leizheng,傅兰英,M,澳门特别行政区长沙县孝南广州街C座 348407,wei68@yahoo.com,1945-03-27

### Make comma delimited files

In [19]:
!mkdir data/

In [20]:
df.to_csv('data/profiles.csv', index=False)

In [21]:
! head -c 200 data/profiles.csv

job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
Midwife,العجلان Ltd,797-18-0626,"94108 آل بن ظافر Track
الحكيرberg, NV 5180

### Make tab-delimited files

In [22]:
df.to_csv('data/profiles.txt', index=False, sep='\t')

In [23]:
! head -c 200 data/profiles.txt

job	company	ssn	residence	current_location	blood_group	website	username	name	sex	address	mail	birthdate
Midwife	العجلان Ltd	797-18-0626	"94108 آل بن ظافر Track
الحكيرberg, NV 5180

### Make JSON files
JavaScript Object Notation

In [24]:
def converter(o):
    if isinstance(o, datetime.datetime):
        return o.__str__()
    if isinstance(o, decimal.Decimal):
        return o.__str__()

In [25]:
with open('data/profiles.json', 'w') as f:
    json.dump(profiles , f, default=converter)

In [26]:
! head -c 200 data/profiles.json

[{"job": "Midwife", "company": "\u0627\u0644\u0639\u062c\u0644\u0627\u0646 Ltd", "ssn": "797-18-0626", "residence": "94108 \u0622\u0644 \u0628\u0646 \u0638\u0627\u0641\u0631 Track\n\u0627\u0644\u062d\

### Make XML files

In [27]:
with open('data/profiles.xml', 'w') as f:
    data = readfromjson('data/profiles.json')
    f.write(json2xml.Json2xml({'employee': data}, wrapper="duke").to_xml())

In [28]:
! head -c 200 data/profiles.xml

<?xml version="1.0" ?>
<duke>
	<employee type="list">
		<item type="dict">
			<job type="str">Midwife</job>
			<company type="str">العجلان Ltd</company>
			<ssn type="str">797-18-0626</ssn>

### Make AVRO files

In [29]:
ps = json.load(open('data/profiles.json'))
avro_objects = [to_rec_avro_destructive(rec) for rec in ps]
with open('data/profiles.avro', 'wb') as f_out:
    fastavro.writer(f_out, fastavro.parse_schema(rec_avro_schema()), avro_objects)

In [30]:
! head -c 200 data/profiles.avro

Objavro.codecnullavro.schema�{"__rec_avro_schema__": true, "type": "record", "name": "rec_avro.rec_object", "fields": [{"name": "_", "type": [{"type": "map", "values": ["null", "boolean", "int",

### Munge pandas data to be compratible with storage

In [31]:
df.birthdate = pd.to_datetime(df.birthdate)
df = (
    df.current_location.
    apply(pd.Series).
    merge(df, left_index=True, right_index=True).
    drop('current_location', axis=1).
    rename({0: 'location_x', 1: 'location_y'}, axis=1)
)
df['location_x'] = df['location_x'].astype('float')
df['location_y'] = df['location_y'].astype('float')
df.website = df.website.apply(lambda s: ','.join(s))

### Make HDF5 files

In [32]:
df.to_hdf('data/profiles.h5', key='duke')

In [33]:
! head -c 200 data/profiles.h5


                    ���������A     ��������        `              �       �                               �       TREE   ����������������        �                             

### Make Parquet files
Also a schema (like AVRO)  
Distributed
Column format so pulling

In [ ]:
fastparquet.write('data/profiles.parq', df)

In [ ]:
! head -c 200 data/profiles.parq

### Make SQLite3 database files

In [ ]:
engine = create_engine('sqlite:///data/profiles.sqlite', echo=False)

In [ ]:
df.to_sql('duke', con=engine, if_exists='replace', index_label='id')

In [ ]:
! head -c 200 data/profiles.sqlite

## Reading data from different file formats

### CSV

#### When the CSV file can be read as is

In [ ]:
df = pd.read_csv('data/profiles.csv')

In [ ]:
df.head(1)

In [ ]:
df.loc[0]

#### When scrubbing of rows may be needed

In [ ]:
rows = []
with open('data/profiles.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        rows.append(row)

In [ ]:
list(map(len, rows))

In [ ]:
rows[:2]

In [ ]:
df = pd.DataFrame(rows[1:], columns=rows[0])

In [ ]:
df.head(1)

### Tab-delimited

Same as CSV, just change separator.

#### Direct reading into DataFrame

In [ ]:
df = pd.read_csv('data/profiles.txt', sep='\t')

In [ ]:
df.head()

#### Row by row processing

In [ ]:
rows = []
with open('data/profiles.txt') as f:
    reader = csv.reader(f, delimiter='\t')
    for row in reader:
        rows.append(row)

In [ ]:
list(map(len, rows))

### JSON

JSON is the most popular format for sharing information over the web. Most data retrieval APIs will return JSON.m

In [ ]:
with open('data/profiles.json') as f:
    profiles = json.load(f)

In [ ]:
len(profiles)

In [ ]:
profiles[0]

#### Using a REST API to retrieve JSON data

In [ ]:
if not os.path.exists('data/pokemon.json'):
    ! curl -o data/pokemon.json https://pokeapi.co/api/v2/pokemon/23

In [ ]:
with open('data/pokemon.json') as f:
    pokemon = json.load(f)

In [ ]:
pokemon.keys()

In [ ]:
pokemon['name']

In [ ]:
pokemon['abilities']

### Flatten nested JSON and extract fields to `pandas`

The [`json_normalize`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html) function is useful for extracting nested fields from a JSON document.

In [ ]:
import requests

In [ ]:
pd.json_normalize(pokemon['abilities'])

In [ ]:
pokemons = [requests.get(f'https://pokeapi.co/api/v2/pokemon/{i}').json() 
            for i in range(20,25)]

In [ ]:
pd.json_normalize(pokemons, ['moves', 'version_group_details'], ['name']).columns

In [ ]:
cols = ['name', 'move_learn_method.name',  'level_learned_at', 'version_group.name' ]
pd.json_normalize(pokemons, ['moves', 'version_group_details'], ['name'])[cols].drop_duplicates()

In [ ]:
df1 = pd.json_normalize(pokemons, 'abilities', ['name', 'order', 'weight', ['species', 'name']])

In [ ]:
df1

The `explode` and `apply` methods are useful if you have nested structures within a DataFrame.

In [ ]:
df_poke = pd.DataFrame(pokemons)

In [ ]:
df_poke.head(2)

Use `explode` to convert items in a list to separate rows, and `apply(pd.Series)` to convert items in a dictionary into separate columns.

In [ ]:
df1 = df_poke.abilities.explode().apply(pd.Series).reset_index(drop=True)
df1.head()

In [ ]:
df1.join(df1.ability.apply(pd.Series)).drop(columns = ['ability'])

### XML

In [ ]:
tree = ET.parse('data/profiles.xml')
root = tree.getroot()

In [ ]:
root.tag

In [ ]:
ET.dump(root)

In [ ]:
for employee in root:
    for elem in employee:
        print(f'{elem.tag:>20}: {elem.text}')
    break

In [ ]:
root.findall('.')

In [ ]:
root.findall('./')

In [ ]:
root.findall('.//')[:5]

In [ ]:
for item in root.findall('.//company'):
    print(item.text)

### HDF5

Like XML and JSON, HDF5 files store hierarchical data that can be annotated. The strong points of HDF5 are its ability to store large numerical data sets so that selective loading of parts of the data into memory for analysis is possible. HDF5 are also easy to use for people familiar with `numpy` and widely used in the scientific community.

There are two popular libraries for working with HDF5. Pandas uses `pytables`, and the stored schema can be quite unintuitive, but that does not matter since we usually just use Pandas to read it back in.

#### Pandas and `tables`

In [ ]:
f = tables.open_file('data/profiles.h5')

In [ ]:
f

In [ ]:
f.root.duke.axis0[:]

In [ ]:
f.root.duke.axis1[:]

In [ ]:
f.root.duke.block0_items[:]

In [ ]:
f.root.duke.block0_values[:]

In [ ]:
f.close()

#### Reading into `pandas`

In [ ]:
df = pd.read_hdf('data/profiles.h5')

In [ ]:
df

#### Using `h5py`

For actually working directly with HDF5, I find `h5py` more intuitive.

In [ ]:
filename = 'data/si.h5'
if os.path.exists(filename):
    os.remove(filename)
f = h5py.File(filename, 'w')

In [ ]:
start = pendulum.datetime(2019, 8, 31)
stop = start.add(days=3)
for day in pendulum.period(start, stop):
    g = f.create_group(day.format('ddd'))
    g.attrs['date'] = day.format('LLL')
    g.attrs['analyst'] = 'Mario'
    for expt in range(3):
        data = np.random.poisson(size=(100, 100))
        ds = g.create_dataset(f'expt-{expt:02d}', data=data)

In [ ]:
f = h5py.File(filename, 'r')

In [ ]:
list(f.keys())

In [ ]:
list(f['Sat'].attrs.keys())

In [ ]:
f['Sat'].attrs['analyst']

In [ ]:
f['Sat'].attrs['date']

In [ ]:
list(f['Sat'].keys())

In [ ]:
f['Sat']['expt-01'][5:10, 5:10]

In [ ]:
f['Sat']['expt-01'][5:10, 5:10].sum(axis=0)

In [ ]:
f.close()

## Avro

In [ ]:
! python3 -m pip install --quiet fastavro rec_avro

In [ ]:
%%bash --out s
fastavro --schema data/profiles.avro

In [ ]:
schema = eval(s.replace('true', 'True'))

In [ ]:
schema

In [ ]:
with open('data/profiles.avro', 'rb') as f:
    avro_reader = fastavro.reader(f, reader_schema=schema)
    for record in avro_reader:
        print(record)

#### Avro to JSON

In [ ]:
with open('data/profiles.avro', 'rb') as f:
    avro_reader = fastavro.reader(f, reader_schema=schema)
    for record in avro_reader:
        print(from_rec_avro_destructive(record))

### Parquet

In [ ]:
! python3 -m pip install --quiet fastparquet

In [ ]:
parq = fastparquet.ParquetFile('data/profiles.parq')

In [ ]:
parq.columns

In [ ]:
df = parq.to_pandas()

In [ ]:
df.head(1)

#### Reading directly in `pandas`

In [ ]:
df = pd.read_parquet('data/profiles.parq')

In [ ]:
df.head(1)

## SQL

A relatinal databse isn't really a filetype, but SQLite3 stores data as a simple file.

In [ ]:
conn = sqlite3.connect('data/profiles.sqlite')
c = conn.cursor()

In [ ]:
c.execute("SELECT * FROM sqlite_master WHERE type='table'")
c.fetchall()

In [ ]:
c.execute('SELECT * FROM duke')
c.fetchone()

In [ ]:
conn.close()